*{
	margin: 0;
	padding: 0;
	box sizing: border-box;
	text-decoration: none;
	border: none;
	text-transform: capitalize;
	transition: all .2px linear;
}
.header{
	position: fixed;
	top: 0;
	left: 0;
	right: 0%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 1px;
	background-color:black ;
    height: 50px;

}
.logo{
	font-weight: bold;
	color: white;
	font-size: 30px;


}
span{
	color: red;
}
.navbar a{
	display: inline block;
	padding: 4px 25px;
	font-size: 30px;
	color: white;
}
a:hover{
	background-color: red;


}
#menu-btn{
	font-size: 3px;
	color: white;
	cursor: pointer;
	display:none;
}
body{
	margin:0;
	padding:60px;
	background-image:url("images/about gym1.jpg");
	background-repeat: no-repeat;
	background-size: 1366px 900px ;
	color: white;
}

h1{
	text-align: center;
	color: yellow;
	padding: 6px;
	

}
h2{
	text-align: center;
	color: yellow;
	padding: 12px;
}
p{
	text-align:justify;
	font-size: 22px;
	font-style: normal;
	color:ghostwhite;
	padding: 0px 120px 0px 120px;
	
}

.btn{
	margin: 4px 550px;
	padding: 4px 25px;
	border: 2px solid yellow;
	border-radius:10px ;
	font-size: 14px;
	cursor: pointer;
	color: white;
	background-color: black;
	margin-right: 25px;
} 
.btn:hover{
	background-color:red;
}
